<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MetricsWebAPP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MetricMaster</display-name>
    <servlet-name>MetricMaster</servlet-name>
    <servlet-class>com.metrics.servlet.MetricMaster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MetricMaster</servlet-name>
    <url-pattern>/MetricMaster</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMetric</display-name>
    <servlet-name>AddMetric</servlet-name>
    <servlet-class>com.metrics.servlet.AddMetric</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMetric</servlet-name>
    <url-pattern>/AddMetric</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMetricValue</display-name>
    <servlet-name>AddMetricValue</servlet-name>
    <servlet-class>com.metrics.servlet.AddMetricValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMetricValue</servlet-name>
    <url-pattern>/AddMetricValue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatisticSummary</display-name>
    <servlet-name>StatisticSummary</servlet-name>
    <servlet-class>com.metrics.servlet.StatisticSummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticSummary</servlet-name>
    <url-pattern>/StatisticSummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMetric</display-name>
    <servlet-name>DeleteMetric</servlet-name>
    <servlet-class>com.metrics.servlet.DeleteMetric</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMetric</servlet-name>
    <url-pattern>/DeleteMetric</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMetricValue</display-name>
    <servlet-name>DeleteMetricValue</servlet-name>
    <servlet-class>com.metrics.servlet.DeleteMetricValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMetricValue</servlet-name>
    <url-pattern>/DeleteMetricValue</url-pattern>
  </servlet-mapping>
</web-app>